* {
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/stratosskyengweb-regular.woff) format('woff');
    src: url(fonts/stratosskyengweb-regular.woff2) format('woff2');
}

body {
    background: #004980;
    font-family: 'StratosSkyeng';
}

.container {
    background: #C2F5FF;
    max-width: 480px;
    height: 459px;
    border-radius: 12px;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    display: flex;
    position: absolute;
    top: calc(50% - 200px);
    left: 0;
    right: 0;
    margin: 0 auto;
}

.container_content {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.level{
    display: flex;
    gap: 24px;
    justify-content: space-between;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    color: #0080C1;
}

.level label{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    width: 98px;
    height: 98px;
    left: 341px;
    top: 354px;
    background: #FFFFFF;
    border-radius: 12px;
}

.level input[type="radio"] {
    display: none;
}

.startBtn {
    background: #7AC100;
    border-radius: 12px;
    border: 0;
    color: #FFFFFF;
    width: 246px;
    height: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 67px;
    cursor: pointer;
    margin-top: 67px;
}

.startBtn:hover {
    background: #5d8d0b;
}

.start {
    display: flex;
    justify-content: center;
}

.content_text {
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #004980;
    text-align: center;
    margin-bottom:52px;
}