* {
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    src: local('StratosSkyeng'),
        url('/fonts/stratosskyengweb-regular.woff2') format('woff2'),
        url('./fonts/stratosskyengweb-regular.woff') format('woff');
}

body {
    background: #004980;
    font-family: 'StratosSkyeng';
}



.memory_game {
    margin: auto;
    perspective: 1000px;
}

.memory_card {
    width: 95px;
    height: 133px;
    transform: scale(1);
    position: relative;
    transition: transform 0.5s;
    transform-style:preserve-3d;
}

.memory_card.flip {
    transform: rotateY(180deg);
}

.memory_card:active {
    transform: scale(0.95);
    transition: transform 0.2s;
}

.front_face, .back_face {
    width: 100%;
    background: #FFFFFF;
    border-radius: 4px;
    position: absolute;
    backface-visibility: hidden;
}

.front_face {
    transform: rotateY(180deg);
}
